{% extends 'includes/layout.html' %}
{% load static %}

{% block contents %}
    <div class="container" id="signaturePadDemo">
        <div class="row">
            <signature-module>
            </signature-module>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Sign the document</h1>
                <p>Sign the document below to confirm your agreement.</p>
                <canvas id="signaturePad" class="signature-pad rounded-4">
                </canvas>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-grid gap-3 d-md-flex justify-content-md-center">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
    {% include 'components/signature_module.html' %}
    <script src="{% static 'js/signature_pad.js' %}"></script>
    <script>
        Vue.createApp({
            delimiters: ['[[', ']]'],
            components: {
                'signature-module': signatureModule,
            },
            setup() {
            }
        }).mount('#signaturePadDemo');

    </script>
{% endblock %}
